﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to the Super Simple API demo page!</h1>
    </div>
    <div class="col-lg-6">
        <form>
            @*User enters a number.  This is how many random numbers we want to get via the simple API*@
            <div class="form-group">
                <label for="Count">How many random numbers would you like?</label>
                <input id="Count" name="Count" type="number" value="10" min="1" max="100" class="form-control" />
            </div>
            @*Button to "submit" is Request.  Register callback function with jQuery to handle.*@
            <input id="Request" name="Request" type="button" value="Request" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-lg-6">
        <div id="Message"></div>
        <div id="Amount"></div>
        <div id="Values"></div>
        <div id="Average"></div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="theplot"></div>
    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/numbers.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}

@*A spacer to move content down*@
<div style="height:200px;width:200px"></div>

@*A bunch of unnecessary content that might take a while to load, to help illustrate benefits of AJAX*@
<div class="reveal">
    <div class="slides">

        <section>
            <h2>Contents</h2>
            <ul>
                <li>C#</li>
                <li>ASP.NET MVC</li>
            </ul>
        </section>

        <section>
            <section>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/csn_cover.png" alt="C Sharp 6.0 in a Nutshell" height="600">
            </section>
            <section>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/csn_1_1.png" alt="Book contents figure">
            </section>
        </section>

        <section>
            <section>
                <h2>Language Basics</h2>
            </section>
            <section>
                <h2>Numeric Types</h2>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/csn_2_1.png" alt="Types">
            </section>
            <section>
                <h2>Other Value Types</h2>
                <ul>
                    <li><span class="texttt">char</span> (<span class="texttt">System.Char</span>)</li>
                    <li><span class="texttt">bool</span> (<span class="texttt">System.Boolean</span>)</li>
                    <li><span class="texttt">struct</span></li>
                    <li><span class="texttt">enum</span></li>
                </ul>
            </section>
            <section>
                <h2>Reference Types</h2>
                <ul>
                    <li><span class="texttt">object</span> (<span class="texttt">System.Object</span>)</li>
                    <li><span class="texttt">string</span> (<span class="texttt">System.String</span>)</li>
                    <li><span class="texttt">interface</span></li>
                    <li>array (<span class="texttt">System.Array</span>)</li>
                    <li>delegate</li>
                </ul>
            </section>
            <section>
                <h2>Array and Struct</h2>
                <pre><code class="csharp">
char[] vowels  = new char[5];
char[] vowels2 = new char[] {'a','e','i','o','u'};
char[] vowels3 = {'a','e','i','o','u'};
                    
for(int i = 0; i &lt; vowels.Length; i++)
{
    Console.Write(vowels[i]);
}
                    
public struct Point
{
    public int X, Y;
    public Point(int x, int y) { X = x; Y = y; }
}

Point p = new Point(4,5);
				        </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Method Parameters</h2>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/csn_params.png" alt="Method parameters">
            </section>
            <section>
                <pre><code class="csharp">
using System;

class Test         // ref modifier
{
    static void Foo(ref int p)
    {
        Console.WriteLine(p);
        p = p + 1;
    }
    
    static void Main()
    {
        int x = 8;
        Foo(ref x);
        Console.WriteLine(x); // x is now 9
    }
}
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
using System;

class Test         // out modifier
{
    static void Split (string name, out string firstNames, out string lastName)
    {
       int i = name.LastIndexOf (' ');
       firstNames = name.Substring (0, i);
       lastName   = name.Substring (i + 1);
    }

    static void Main()
    {
        string a, b;
        Split ("Stevie Ray Vaughan", out a, out b);
        Console.WriteLine (a);
        Console.WriteLine (b);
    }
}
// outputs:
//     Stevie Ray
//     Vaughan
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
using System;

class Test     // params modifier
{
    static int Sum (params int[] ints)
    {
        int sum = 0;
        for (int i = 0; i &lt; ints.Length; i++)
            sum += ints[i];
        return sum;
    }
    static void Main()
    {
        int total = Sum (1, 2, 3, 4);
        Console.WriteLine (total);
    }
}
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
using System;

class Test         // Optional parameters
{
    static string JoinWith(char a, char b, string del = ",")
    {
        // C# 6 "interpolated string literal
        return $"{a}{del}{b}";
    }
    
    static void Main()
    {
        Console.WriteLine( JoinWith('u','v') );
        Console.WriteLine( JoinWith('u','v',"___") );
    }
}
// outputs:
//  u,v
//  u___v
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
using System;

class Test      // Named arguments
{
    static void Foo(int x, int y)
    {
        Console.WriteLine(x + ", " + y);
    }
    
    static void Main()
    {
        Foo(x:1, y:2);
        Foo(y:4, x:9);
    }
}
// outputs:
//  1, 2
//  9, 4
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
// Expression-bodied function members
                    
    public int AddTwo(int a, int b) =&gt; a + b;
				        </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Var and Nulls</h2>
            </section>
            <section>
                <pre><code class="csharp">
// Implicitly typed local variables

var i = 5;
                    
var adj = "a superlative";
                    
var arr = new[] {1,2,3};

var expr =
    from c in customers
    where c.City == "London"
    select c;
				        </code></pre>
            </section>
            <section>
                <h2>Null-Coalescing Operator</h2>
                <pre><code class="csharp">
string s = null;
string s1 = s ?? "something else";
				        </code></pre>
            </section>
            <section>
                <h2>Null-Conditional Operator</h2>
                <pre><code class="csharp">
// "Elvis" operator (?:), prevents NullReferenceException
// AKA: Safe navigation operator
System.Text.StringBuilder sb = null;
string s = sb?.ToString();

// equivalent to
string s = (sb == null ? null : sb.ToString());
                    
// short circuits and is safe
x?.y?.z;

System.Text.StringBuilder sb = null;
string s = sb?.ToString() ?? "something else";
				        </code></pre>
            </section>
            <section>
                <h2>Nullable Types</h2>
                <pre><code class="csharp">
string s = null;    // just fine
int a = null;       // does not compile

int? id = null;     // OK
System.Nullable&lt;int&gt; id = null;
                    
// common MVC pattern
public ActionResult Details(int? id)
{
    if(id == null)        // or !id.HasValue
    {
        return new HttpStatusCodeResult(400, "Missing user identifier in request");
    }
    User user = db.Users.Find(id);
    // ...
}
				        </code></pre>
            </section>
            <section>
                <h2>Operator Lifting with Nullable Types</h2>
                <pre><code class="csharp">
int? x = 8;
int? y = 100;
int? z = null;      // i.e. System.Nullable&lt;int&gt; z

// operators are lifted from int
// Normal:
x == y
x + y
x &lt; y

// But must worry about effect of null
x == z     // False
x + z      // null
x &lt; z      // False
x &gt; z      // False
				        </code></pre>
            </section>
        </section>
        <section>
            <h2>Naming Conventions</h2>
            <ul>
                <li><a href="https://msdn.microsoft.com/en-us/library/ms229002(v=vs.110).aspx" target="_blank">Naming Guidelines</a></li>
                <li><a href="https://msdn.microsoft.com/en-us/library/ff926074.aspx" target="_blank">Coding Conventions</a></li>
            </ul>

        </section>
        <section>
            <section>
                <h2>Namespaces</h2>
                <pre><code class="csharp">
namespace SomeNameSpaceName
{
    class Class1 {}
    // other members                
}

namespace Outer {
    namespace Middle {
        namespace Inner {
            class Class2{}
        }
    }
}

using SomeNameSpaceName;
using Outer.Middle.Inner;
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
// Auto generated code in: file1.cs
namespace MyApp
{
    partial class MyClass { public void MyMethod(){} }
    // other members
}
                    
// Your code in: file2.cs
namespace MyApp
{
    partial class MyClass { public void OtherMember(){} }
}
				        </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Classes</h2>
                <pre><code class="csharp">
using System;

public class Wolf : Canine, IEquatable&lt;Wolf&gt;
{
    public string Name = "Wolfie";
    public string Owner;
    public int Legs;
    private static int totalCount;
    private DateTime birthday;
    
    public Wolf() {}
    public Wolf(string name)
    {
        this.name = name;
    }
    //...
}
				        </code></pre>
            </section>
            <section>
                <h2>Object Initializers</h2>
                <pre><code class="csharp">
Wolf w1 = new Wolf("Sharp Teeth") { Owner="Me", Legs=4 };
Wolf w2 = new Wolf { Name="Ghost", Owner="John Snow", Legs=4 };
				        </code></pre>
            </section>
            <section>
                <h2>Properties</h2>
                <pre><code class="csharp">
public class Stock
{
    decimal maxPrice;        // private "backing field"
    
    public decimal MaxPrice
    {
        get { return maxPrice; }
        set { maxPrice = value; }
    }
    
    // Automatic property
    public decimal CurrentPrice { get; set; }
}
				        </code></pre>
                <pre><code class="csharp">
var s = new Stock();
s.MaxPrice = 99.99M;
Console.WriteLine(s.CurrentPrice);
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">
    // Read-only property
    string symbol;            // set in the constructor
    
    public string Symbol
    {
        get { return symbol; }
    }
   
    // Expression-bodied property (also read-only)
    public decimal Worth =&gt; currentPrice * sharesOwned;
                    
    // Initializer
    public int Volume { get; set; } = 100;
				        </code></pre>
            </section>
            <section>
                <h2>Finalizers</h2>
                <pre><code class="csharp">
class Class1
{
    ~Class1()
    {
        // release resources?
    }
}
				            </code></pre>
            </section>
            <section>
                <h2>Overriding Inherited Methods</h2>
                <pre><code class="csharp">
public class Asset
{
    public string Name;
    public virtual decimal Liability =&gt; 0;
}
                    
public class Stock : Asset
{
    public long SharesOwned;
}
                    
public class House : Asset
{
    public decimal Mortgage;
    public override decimal Liability =&gt; Mortgage;
    public override string ToString() { return "A House"; }
}
				        </code></pre>
            </section>
            <section>
                <h2>Inheritance &amp; Constructors</h2>
                <pre><code class="csharp">
public class SubClass : BaseClass
{
    public SubClass( int x ) : base (x) { }
}

    // Can also use base like this (no super)
    int a = base.someNum;
				        </code></pre>
            </section>
            <section>
                <h2>Object and Boxing/Unboxing</h2>
                <pre><code class="csharp">
// System.Object or object is the base of the object hierarchy
object o = new House();
                    
// C# has boxing and unboxing
int age = 32;
object obj = age;
                    
int myAge = (int)obj;
				        </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Delegates</h2>
                <pre><code class="csharp">
    // Declare a new type
    public delegate double BinaryOperator( double a, double b );

    // Create methods we want to use
    public static double Add( double a, double b ) =&gt; a + b;
    public static double Sub( double a, double b ) =&gt; a - b;
    public static double Div( double a, double b ) =&gt; a / b;
    public static double Mul( double a, double b ) =&gt; a * b;

        // Create an instance of the delegate type
        BinaryOperator bop = Sub;

        // Use it
        Console.WriteLine( "7 - 9.3 = " + bop(7,9.3) );
                        </code></pre>
            </section>
            <section>
                <ul>
                    <li>Similar to "pointer to function" in C, C++</li>
                    <li>Is type safe</li>
                    <li>Used to create callback functions</li>
                    <li>Integral to implementing Observer-Observable pattern</li>
                    <li>Used in lambda functions (expressions) and LINQ</li>
                    <li>Useful in MVC and with testing</li>
                    <li>
                        Has other features
                        <ul>
                            <li>Multi-cast</li>
                            <li>Integrates with events</li>
                            <li>Can use generics</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Lambda Functions</h2>
                <pre><code class="csharp">
// Expression Lambdas
// (input parameters) =&gt; expression

x =&gt; x * x
(x,y) =&gt; x == y
(int x, string s) =&gt; s.Length &gt; x
				        </code></pre>
                <pre><code class="csharp">
// Statement Lambdas
// (input parameters) =&gt; { statement1; statement2; statement3; }

() =&gt; {Console.WriteLine("Hello Lambda!");}
(x,y) =&gt; { return x == y; }      // weird way to write that!
				        </code></pre>
            </section>
            <section>
                <h2>Consider Generic Delegates</h2>
                <pre><code class="csharp">
// C# 3.0 defined
namespace System
{
    public delegate TResult Func&lt;out TResult&gt;();
    public delegate TResult Func&lt;in T, out TResult&gt;(T arg);
    public delegate TResult Func&lt;in T1, in T2, out TResult&gt;(T1 arg1, T2 arg2);
}
				        </code></pre>
                <pre><code class="csharp">
Func&lt;double, double, double&gt; sum = (x,y) =&gt; x + y;

public static IEnumerable&lt;U&gt; Map(Func&lt;T, U&gt; fn, IEnumerable&lt;T&gt; list)
{
    //apply fn to list and return resulting new list
}

var output = Map( x =&gt; x * x, nums );
				        </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Extension Methods</h2>
            </section>
            <section>
                <ul>
                    <li>Extend an existing type whith new methods</li>
                    <li>Doesn't alter original type</li>
                    <li>Need to add a <code>using</code> statement for extension class in order to use it (i.e. <code>using System.Linq;</code> for <a href="https://msdn.microsoft.com/en-us/library/system.linq(v=vs.110).aspx">LINQ operators</a>)</li>
                    <li>Needs to be a static method in a static class</li>
                    <li><code>this</code> modifier as first parameter</li>
                    <li>Works for interface types too</li>
                </ul>
            </section>
            <section>
                <pre><code class="csharp">// "Add" to string class
public static class StringHelper
{
    public static bool IsCapitalized (this string s)
    {
        if (string.IsNullOrEmpty(s)) 
            return false;
        return char.IsUpper (s[0]);
    }
}               
// Call it as a built-in method
"Perth".IsCapitalized();
// or as a static method
StringHelper.IsCapitalized("Perth");
                    
// How it's translated:
arg0.Method(arg1, arg2, ...);              // Extension method call
StaticClass.Method(arg0, arg1, arg2, ...); // Static method call
				        </code></pre>
            </section>
            <section>
                <pre><code class="csharp">// Map example from previous slide
// written as an extension method
Func&lt;double, double, double&gt; sum = (x,y) =&gt; x + y;

public static IEnumerable&lt;U&gt; Map(this IEnumerable&lt;T&gt; list, Func&lt;T, U&gt; fn)
{
    //apply fn to list and return resulting new list
}

var output = nums.Map( x =&gt; x * x );
				        </code></pre>
            </section>
            <section>
                <h3>Chaining</h3>
                <p>Look at some definitions in <a href="https://msdn.microsoft.com/en-us/library/9eekhta0(v=vs.110).aspx">IEnumerable&lt;T&gt;</a></p>
                <pre><code class="csharp">int[] ints = { 10, 45, 15, 39, 21, 26 };
var result = ints.OrderBy(g => g).Take(4).Average();

// Versus
var result = Average(Take(OrderBy(ints, g=>g),4));
				        </code></pre>
            </section>
        </section>
        <section>
            <section data-background-image="images/guy-fawkes.png">
                <h2>Anonymous Types</h2>
            </section>
            <section>
                <ul>
                    <li>Simple un-named reference type; inherits directly from <code>object</code></li>
                    <li>Compier generates code using a template to create the class</li>
                    <li>Must use a <code>var</code> keyword to create new objects of this type</li>
                    <li>You automatically get an <code>.Equals()</code> that compares members for equality</li>
                    <li>NOT dynamic like Javascript object types</li>
                    <li>Access by name (property), i.e. like Name/Value pairs</li>
                </ul>
            </section>
            <section>
                <pre><code class="csharp">var obj = new {Name = "Jane", Age = 28, CellNumber = "555-555-1111" };

 // or
  
var obj2 = new { 
    Store = "ShoesForLess", 
    Categories = new String[]{"Running","Leisure","Dress","Sandals"},
    Date = DateTime.Now
    }

Console.WriteLine(obj2.Store);
                </code></pre>
            </section>
            <section>
                <p>Useful in LINQ select queries</p>
                <pre><code class="csharp">
var categories = db.ProductCategories
                   .OrderBy( pc => pc.Name )
                   .Select( pc => new { Name = pc.Name,
                                        Id   = pc.ProductCategoryID } );</code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Attributes</h2>
            </section>
            <section>
                <p>&ldquo;Attributes are an extensible mechanism for adding custom information to code elements (assemblies, types, members, return values, parameters and generic type parameters).&rdquo; </p>
                <p>i.e. decorating code elements with metadata</p>
            </section>
            <section>
                <p>Used extensively in ASP.NET MVC</p>
                <pre><code class="csharp">
// For specifying SQL attributes
public partial class SomeClass
{
    [Key]
    [StringLength(4)]
    public string GuID { get; set; }

    [Required, StringLength(64)]
    public string ModelName { get; set; }
    
    [Required]
    [Phone]
    [Display(Name = "Phone Number")]
    public string Number { get; set; }
}
				        </code></pre>
            </section>
            <section>
                <p>Used extensively in ASP.NET MVC</p>
                <pre><code class="csharp">
// For specifying behavior in controller action methods
[HttpPost]
[Authorize]
[ValidateAntiForgeryToken]
public ActionResult Apply(MemberInfoViewModel newMember)
{
    if (ModelState.IsValid)
    {
        //...
        return RedirectToAction("Index", "Manage", new { success = true });
    }

    return View(newMember);
}
				        </code></pre>
            </section>
            <section>
                <p>Adding an attribute causes an instance of the attribute class to be created and attached to the element.  At runtime, code can use reflection to inquire about available attribute objects and use them accordingly.</p>
            </section>
            <section>
                <pre><code class="csharp">
// Creating an attribute to manage HTTP's Basic Authentication
// https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication
public class BasicAuthenticationAttribute : ActionFilterAttribute
{
    public string BasicRealm { get; set; }
    protected string Username { get; set; }
    protected string Password { get; set; }

    public BasicAuthenticationAttribute(string username)
    {
        //...
    }

    public override void OnActionExecuting(ActionExecutingContext filterContext)
    {
        //...
    }
}

				        </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h2>Collections</h2>
            </section>
            <section>
                <p>Built-in data structures of both generic and non-generic types</p>
                <ul>
                    <li>List, ArrayList, LinkedList, ImmutableList, ...</li>
                    <li>Queue, Stack</li>
                    <li>HashSet, SortedSet, Dictionary, OrderedDictionary, ...</li>
                    <li>Generic versions: LinkedList&lt;T&gt;</li>
                </ul>
            </section>
            <section>
                <p>Yup, the usual:</p>
                <pre><code class="csharp">
using System;
using System.Collections;
public class SamplesArrayList  
{
   public static void Main() 
   {
      // Creates and initializes a new ArrayList.
      ArrayList myAL = new ArrayList();
      myAL.Add("Hello");
      myAL.Add("World");
      myAL.Add("!");

      // Displays the properties and values of the ArrayList.
      Console.WriteLine( "myAL" );
      Console.WriteLine( "    Count:    {0}", myAL.Count );
      Console.WriteLine( "    Capacity: {0}", myAL.Capacity );
      Console.Write( "    Values:" );
      PrintValues( myAL );
   }

   public static void PrintValues( IEnumerable myList )  
   {
      foreach ( object obj in myList )
         Console.Write( "   {0}", obj );
      Console.WriteLine();
   }
}
                        </code></pre>
            </section>
            <section>
                <p>And in generic form</p>
                <pre><code class="csharp">
// using System.Collections.Generic
List&lt;string&gt; dinosaurs = new List&lt;string&gt;();

Console.WriteLine("\nCapacity: {0}", dinosaurs.Capacity);

dinosaurs.Add("Tyrannosaurus");
dinosaurs.Add("Amargasaurus");
dinosaurs.Add("Mamenchisaurus");
dinosaurs.Add("Deinonychus");
dinosaurs.Add("Compsognathus");
Console.WriteLine();
foreach(string dinosaur in dinosaurs)
{
    Console.WriteLine(dinosaur);
}
                        </code></pre>
            </section>
            <section>
                <p>We frequently use objects of these types:</p>
                <ul>
                    <li><a href="https://msdn.microsoft.com/en-us/library/9eekhta0(v=vs.110).aspx"><code class="csharp">IEnumerable&lt;T&gt;</code></a></li>
                    <li><a href="https://msdn.microsoft.com/en-us/library/bb351562(v=vs.110).aspx"><code class="csharp">IQueryable&lt;T&gt;</code></a></li>
                </ul>
                <p>and should look closely at these interfaces</p>
            </section>
        </section>
        <section>
            <section>
                <h2>LINQ</h2>
            </section>
            <section>
                <h3>Language Integrated Query</h3>
                <ul>
                    <li>Built-in to the language</li>
                    <li>Supported by the framework for local objects and remote data connections</li>
                    <li>Type safe</li>
                    <li>Operate on <code>IEnumerable&lt;T&gt;</code> and/or <code>IQueryable</code></li>
                    <li>Found in <code>System.Linq</code> and <code>System.Linq.Expressions</code></li>
                    <li>LINQ-to-Objects</li>
                    <li>LINQ-to-SQL</li>
                    <li>LINQ-to-XML</li>
                </ul>
            </section>
            <section>
                <h3>Sequences and Operators</h3>
                <pre><code class="csharp">
 string[] names = { "Tom", "Dick", "Harry" };
 
 IEnumerable&lt;string&gt; out = names.Where(n =&gt; n.Length &gt;= 4);
 
 foreach (string name in out) 
    Console.WriteLine (name);

// Dick
// Harry
				        </code></pre>
                <p>Using Fluent Syntax</p>
            </section>
            <section>
                <h3>Chaining Query Operators</h3>
                <pre><code class="csharp">
string[] names = { "Tom", "Dick", "Harry", "Mary", "Jay" };

IEnumerable&lt;string&gt; out = names.Where(n =&gt; n.Contains("a"))
                               .OrderBy(n =&gt; n.Length)
                               .Select(n =&gt; n.ToUpper());
foreach (string name in out)
    Console.WriteLine (name);

// JAY
// MARY
// HARRY
				        </code></pre>
            </section>
            <section><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/query_operator_chaining.png" alt="Image of chaining query operators"></section>
            <section>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classification</th>
                            <th>Operators</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Filtering</td>
                            <td>Where, OfType</td>
                        </tr>
                        <tr>
                            <td>Sorting</td>
                            <td>OrderBy, OrderByDescending, ThenBy, ThenByDescending, Reverse</td>
                        </tr>
                        <tr>
                            <td>Grouping</td>
                            <td>GroupBy, ToLookup</td>
                        </tr>
                        <tr>
                            <td>Join</td>
                            <td>GroupJoin, Join</td>
                        </tr>
                        <tr>
                            <td>Projection</td>
                            <td>Select, SelectMany</td>
                        </tr>
                        <tr>
                            <td>Aggregation</td>
                            <td>Aggregate, Average, Count, LongCount, Max, Min, Sum</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Classification</th>
                            <th>Operators</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quantifiers</td>
                            <td>All, Any, Contains</td>
                        </tr>
                        <tr>
                            <td>Elements</td>
                            <td>
                                ElementAt, ElementAtOrDefault, First, FirstOrDefault, Last, LastOrDefault, Single,
                                SingleOrDefault
                            </td>
                        </tr>
                        <tr>
                            <td>Set</td>
                            <td>Distinct, Except, Intersect, Union</td>
                        </tr>
                        <tr>
                            <td>Partitioning</td>
                            <td>Skip, SkipWhile, Take, TakeWhile</td>
                        </tr>
                        <tr>
                            <td>Concatenation</td>
                            <td>Concat</td>
                        </tr>
                        <tr>
                            <td>Equality</td>
                            <td>SequenceEqual</td>
                        </tr>
                        <tr>
                            <td>Generation</td>
                            <td>DefaultEmpty, Empty, Range, Repeat</td>
                        </tr>
                        <tr>
                            <td>Conversion</td>
                            <td>AsEnumerable, AsQueryable, Cast, ToArray, ToDictionary, ToList</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <pre><code class="csharp">
// Pagination

public ViewResult List(int page = 1) 
{
    return View(db.Products.OrderBy(p =&gt; p.ProductID)
                           .Skip((page - 1) * PageSize)
                           .Take(PageSize));
}
				        </code></pre>
            </section>
            <section>
                <h3>Types</h3>
                <ul>
                    <li>Lambda expressions</li>
                    <li>IEnumerable&lt;T&gt; (local queries)</li>
                    <li>IQueryable&lt;T&gt; (interpreted queries)</li>
                </ul>
                <p><a href="https://msdn.microsoft.com/en-us/library/bb397896(v=vs.100).aspx">Standard Query Operators</a>, <a href="https://msdn.microsoft.com/en-us/library/gg696460(v=vs.113).aspx">DbSet</a></p>
            </section>
            <section>
                <h3>Things to pay attention to:</h3>
                <ul>
                    <li>Deferred execution (<a href="https://msdn.microsoft.com/en-us/library/bb738633(v=vs.110).aspx">See here</a>)</li>
                    <li>Captured variables</li>
                    <li>Subqueries</li>
                    <li>Fluent (dot) or query syntax?</li>
                    <li>Returning anonymous types</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>The Web Application Landscape</h2>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/WebServer.png" alt="Web Server">
            </section>
            <section>
                <h2>LAMP Stack</h2>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/LAMP_software_bundle_w.png" alt="Diagram of LAMP components">
                <small>By Shmuel Csaba Otto Traian, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=28224098">Link</a></small>
            </section>
            <section>
                <h3>PHP</h3>
                <p><code>http://www.example.com/somepath/hello.php</code></p>
                <pre><code class="hljs html">
&lt;!-- hello.php --&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Hello PHP!&lt;/title&gt;
&lt;/head&gt;
    &lt;body&gt;

        &lt;?php   
        echo "&lt;h1&gt;Hello World!&lt;/h1&gt;";
        ?&gt;

    &lt;/body&gt;
&lt;/html&gt;
				        </code></pre>
            </section>
            <section>
                <h2>Software Platforms</h2>
                <ul>
                    <li>LAMP: Linux, Apache, MySQL, PHP</li>
                    <li>MEAN: MongoDB, Express.js, Angular.js, Node.js</li>
                    <li>OpenStack: (many, modular)</li>
                    <li>WINS: Windows Server, IIS, .NET, SQL Server</li>
                    <li>Choose your own pieces</li>
                </ul>
            </section>
            <section>
                <h2>Web Application Frameworks</h2>
                <ul>
                    <li>Ruby on Rails (Ruby)</li>
                    <li>Django (Python)</li>
                    <li>ASP.NET &amp; ASP.NET MVC (C#)</li>
                    <li>Spring MVC (Java)</li>
                    <li>Node.js (Javascript)</li>
                    <li>Zend (PHP)</li>
                    <li><a href="https://en.wikipedia.org/wiki/Comparison_of_web_frameworks">See list</a></li>
                </ul>
            </section>
            <section>
                <h3>ASP.NET Web Forms (&gt;2002)</h3>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/aspnet.png" alt="ASP.NET 2002" width="600">
                <p><code>http://www.oregon.gov/ODOT/Pages/index.aspx</code></p>
            </section>
            <section data-background-image="images/viewstate.png"></section>
        </section>
        <section>
            <section>
                <h2>ASP.NET MVC</h2>
                <ul>
                    <li>v. 1.0 in 2009, Current stable v. 5</li>
                    <li>Open Source</li>
                    <li>C# or VisualBasic</li>
                    <li>Extensible</li>
                    <li>Standards compliant</li>
                    <li>Plays nice with Javascript &amp; CSS, jQuery, Bootstrap</li>
                    <li><a href="https://msdn.microsoft.com/en-us/library/4w3ex9c2.aspx">Overview</a></li>
                </ul>
            </section>
            <section>
                <ul>
                    <li>Easy to build a REST api</li>
                    <li>Test friendly</li>
                    <li>
                        Customizable routing, clean URL's: <p><small><code>http://www.thingiverse.com/thing:776259</code></small></p> not <p>
                            <small class="reallysmall">
                                <code>
                                    http://www.autotrader.com/cars-for-sale/Used+Cars/Porsche/Cayman/Albany+OR-97321?endYear=2008&firstRecord=0&listingType=used&listingTypes=used&makeCode1=POR&
                                    mmt=%5BPOR%5BCAYMAN%5B%5D%5D%5B%5D%5D&modelCode1=CAYMAN&searchRadius=25&
                                    showcaseOwnerId=68403481&startYear=2000&transmissionCode=MAN&
                                    transmissionCodes=MAN&Log=0&showcaseListingId=438099248&
                                    captureSearch=true&fromSIP=C07B36E73BF24F8EDCE2D641DB137905&
                                    showToolbar=true
                                </code>
                            </small>
                        </p>
                    </li>
                    <li>Professional components: security &amp; authentication, database access, ...</li>
                    <li>Uses Model - View - Controller pattern/paradigm</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h2>Model - View - Controller</h2>
                <img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/MVC-1.png" alt="Model View Controller diagram">
            </section>
            <section><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/MVC-2.png" alt="ASP.NET's Version of MVC"></section>
        </section>
        <section>
            <h2>Terminology</h2>
            <ul>
                <li>CLR</li>
                <li>.NET</li>
                <li>ASP.NET (Framework)</li>
                <li>ASP.NET WebForms</li>
                <li>ASP.NET Web Pages</li>
                <li>ASP.NET MVC 1-5</li>
                <li>ASP.NET Core (was vNext)</li>
                <li>.NET Core</li>
            </ul>
        </section>
        <section>
            <section>
                <h2>ASP.NET MVC project setup with local database (i.e. HW5)</h2>
                <p>Order of events</p>
            </section>
            <section>
                <h4>DIY Procedure</h4>
                <ol>
                    <li>Create database schema and database with UP script</li>
                    <li>Add connection string to Web.config</li>
                    <li>Write data model classes</li>
                    <li>Write DbContext subclass</li>
                    <li>Add Entity Framework using NuGet</li>
                    <li>Write Controller and action methods</li>
                    <li>Write Views</li>
                </ol>
            </section>
        </section>
        <section>
            <section>
                <h2>Entity Framework</h2>
            </section>
            <section>
                <blockquote>Entity Framework (EF) is an object-relational mapper that enables .NET developers to work with relational data using domain-specific objects. It eliminates the need for most of the data-access code that developers usually need to write.</blockquote>
                <p><a href="https://www.asp.net/entity-framework">Entity Framework</a></p>
            </section>
            <section>
                <video controls src="videos/HDI_ITPro_Technet_mp4video_ChoseYourWorkflow.mov"></video>
                <small><a href="https://msdn.microsoft.com/en-us/data/jj590134">Entity Framework Development Workflows Video</a></small>
            </section>
            <section>
                <h3>Model Contents</h3>
                <a href="https://msdn.microsoft.com/en-us/library/jj713564(v=vs.113).aspx">EF Relationships and Navigation Properties</a>
                <p>Within a database-backed model class:</p>
                <ul>
                    <li>Simple properties: columns in the table, including keys</li>
                    <li>
                        Navigation Properties (virtual)
                        <ul>
                            <li>Model reference types: &ldquo;to-one&rdquo; relationship</li>
                            <li>Collection types: &ldquo;to-many&rdquo; relationship</li>
                        </ul>
                    </li>

                </ul>
            </section>
        </section>

        <!-- URL ROUTING -->
        <section>
            <section>
                <h2>URL Routing <br> in an MVC Application</h2>
                <p><small>See Pro ASP.NET MVC 5 Book, Ch. 15</small></p>
            </section>
            <section>
                <h3>An Independent Component</h3>
                <p>Technically separate from MVC. <br> Is used in Web API, Forms, etc. <br>Very configurable.</p>
            </section>
            <section>
                <pre><code class="csharp">// in Global.asax.cs 
public class MvcApplication : System.Web.HttpApplication
{
    protected void Application_Start()
    {
        AreaRegistration.RegisterAllAreas();
        FilterConfig.RegisterGlobalFilters(GlobalFilters.Filters);
        RouteConfig.RegisterRoutes(RouteTable.Routes);
        BundleConfig.RegisterBundles(BundleTable.Bundles);
    }
}</code></pre>
            </section>
            <section>
                <pre><code class="csharp">//in App_Start\RouteConfig.cs
public class RouteConfig
{
    public static void RegisterRoutes(RouteCollection routes)
    {
        routes.IgnoreRoute("{resource}.axd/{*pathInfo}");

        routes.MapRoute(
            name: "Default",
            url: "{controller}/{action}/{id}",
            defaults: new { 
                controller = "Home", 
                action = "Index", 
                id = UrlParameter.Optional }
        );
    }
}</code></pre>
            </section>
            <section>
                <h3><code>{controller}/{action}/{id}</code></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Incoming URL</th>
                            <th>Maps To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>~/</td>
                            <td>Controller: <code>Home</code> <br> Action: <code>Index</code> <br> id:  </td>
                        </tr>
                        <tr>
                            <td>~/User</td>
                            <td>Controller: <code>User</code> <br> Action: <code>Index</code> <br> id:  </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3><code>{controller}/{action}/{id}</code></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Incoming URL</th>
                            <th>Maps To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>~/User/Details</td>
                            <td>Controller: <code>User</code> <br> Action: <code>Details</code> <br> id:  </td>
                        </tr>
                        <tr>
                            <td>~/User/Details/53</td>
                            <td>Controller: <code>User</code> <br> Action: <code>Details</code> <br> id: <code>53</code> </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3><code>{controller}/{action}/{id}</code></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Incoming URL</th>
                            <th>Maps To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>~/User/Details/Julie</td>
                            <td>Controller: <code>User</code> <br> Action: <code>Details</code> <br> id: <code>Julie</code> </td>
                        </tr>
                        <tr>
                            <td>~/User/Details/Julie/Add</td>
                            <td>No match, too many segments</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3><code>{controller}/{action}/{id}</code><br><mark>Remove <code>defaults</code></mark> </h3>
                <table>
                    <thead>
                        <tr>
                            <th>Incoming URL</th>
                            <th>Maps To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>~/</td>
                            <td>No match, not enough segments</td>
                        </tr>
                        <tr>
                            <td>~/Home</td>
                            <td>No match, not enough segments</td>
                        </tr>
                        <tr>
                            <td>~/Home/Contacts</td>
                            <td>No match, not enough segments</td>
                        </tr>

                        <tr>
                            <td>~/Home/Contacts/3</td>
                            <td>Controller: <code>Home</code> <br> Action: <code>Contacts</code> <br> id: <code>3</code></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h3>Custom Routes: Go Beyond Default MVC Routing</h3>
                <ul>
                    <li>Routes are tested for matches in order, first to last as defined in <code>RegisterRoutes</code> </li>
                    <li>Put more specific patterns first, more general last</li>
                    <li>Routing patterns use "segment variables"</li>
                    <li><code>controller</code> and <code>action</code> "variables" have special meaning in an MVC app, otherwise can make up new variables</li>
                    <li>These variables are passed to your action method</li>
                </ul>
            </section>
            <section>
                <h3>Custom Routes: Go Beyond Default MVC Routing</h3>
                <ul>
                    <li>Has many features</li>
                    <li>
                        Route constraints:
                        <ul>
                            <li>By Method: GET, POST, ...</li>
                            <li>By Regular Expression: <code>"^H.*"</code></li>
                            <li>Type and Value: can match datetime, double, int, numerical range, max length, min length, ...</li>
                            <li>Completely custom made constraints</li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section>
                <pre><code class="csharp">routes.MapRoute(
    name: "API Routes",
    url: "api/{controller}/{action}/{version}",
    defaults: new { 
        controller = "ExternalAPI", 
        action = "Handler", 
        version = "v2" }
);
routes.MapRoute(
    name: "Default",
    url: "{controller}/{action}/{id}",
    defaults: new { 
        controller = "Home", 
        action = "Index", 
        id = UrlParameter.Optional }
);</code></pre>
            </section>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Incoming URL</th>
                            <th>Maps To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>~/</td>
                            <td>Controller: <code>Home</code> <br> Action: <code>Index</code> <br> id:</td>
                        </tr>
                        <tr>
                            <td>~/api</td>
                            <td>Controller: <code>ExternalAPI</code> <br> Action: <code>Handler</code> <br> version: <code>v2</code></td>
                        </tr>
                        <tr>
                            <td>~/api/Requests</td>
                            <td>Controller: <code>Requests</code> <br> Action: <code>Handler</code> <br> version: <code>v2</code></td>
                        </tr>
                        <tr>
                            <td>~/apis</td>
                            <td>Controller: <code>Apis</code> <br> Action: <code>Index</code> <br> id: </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section>
                <h3>Routes like this</h3>
                <pre>~/2011/ (all posts from 2011)
~/2011/11/ (all posts from November 2011)
~/2011/11/07 (all posts from November 7th 2011)
~/2011/11/07/exact-post-title
~/exact-post-title
~/about
~/archive
~/tag/whatever-tag</pre>
                <p><small>From: <a href="https://stackoverflow.com/questions/8037763/asp-net-mvc-blog-urls-via-routing">ASP.NET MVC Blog URLs via Routing</a></small></p>
            </section>

            <section>
                <h3>Segment Variables Map to Action Method Parameters</h3>
                <pre><code class="csharp">public ActionResult Details()
{
    object id = RouteData.Values["id"];
    return View();
}

// or better yet

public ActionResult Details(int? id)
{
    return View();
}

// parameter and segment variable must match exactly, i.e. cannot be
public ActionResult Details(int? value)</code></pre>
            </section>

            <section>
                <h3>For Blog Post routes above</h3>
                <pre><code class="csharp">public ActionResult Details(int? yyyy, string mm, string dd, string title) {}

public ActionResult ByDay(int? yyyy, string mm, string dd) {}

// or

public ActionResult ByDay(int yyyy, int mm, int dd)
// if you can be sure single digit numbers like 04 are parsed correctly
// and that no-one makes these segment variables optional in routing table
// at a future time
                        </code></pre>
            </section>
        </section>

        <section>
            <section data-background-image="images/t2/splot.png">
                <h2>Asynchronous Programming</h2>
                <p><small><a href="http://hackage.haskell.org/package/splot">Image from Splot by Eugene Kirpichov</a>, <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/splot.png">img</a></small></p>
            </section>
            <section>
                <h3>Web Framework Benchmarks</h3>
                <a href="https://www.techempower.com/benchmarks/#section=data-r15&hw=ph&test=query"><img src="images\t2\web_framework_benchmark.png" alt=""></a>
            </section>
            <section>
                <h3>Benchmarking MVC on IIS vs. Node.js</h3>
                <a href="https://tipaltilabs.com/2016/07/09/node-js-vs-iis-webapi-async/"><img src="images\t2\node-js-iis-performance-test-012.png" alt=""></a>
            </section>
            <section>
                <h4>Consider this action method</h4>
                <pre>
<code class="csharp">public ActionResult Index()
{		
  WebRequest request   = WebRequest.Create("https://example.com/resource");
  WebResponse response = request.GetResponse();
  Stream dataStream    = response.GetResponseStream();
  StreamReader reader  = new StreamReader(dataStream);
  string responseFromServer = reader.ReadToEnd();
	
  reader.Close();
  dataStream.Close();
  response.Close();

  var data = ProcessData(responseFromServer);

  return View(data);
}</code></pre>
                <p>See: <a href="https://docs.microsoft.com/en-us/dotnet/api/system.net.webrequest?view=netframework-4.7.1">System.Net.WebRequest</a></p>
            </section>
            <section>
                <h4>Compare to this</h4>
                <pre>
<code class="lang-csharp">public async Task&lt;ActionResult&gt; Index()
{		
  WebRequest request   = WebRequest.Create("https://example.com/resource");
  WebResponse response = await request.GetResponseAsync();
  Stream dataStream    = response.GetResponseStream();
  StreamReader reader  = new StreamReader(dataStream);
  string responseFromServer = reader.ReadToEnd();
	
  reader.Close();
  dataStream.Close();
  response.Close();

  var data = ProcessData(responseFromServer);

  return View(data);
}</code></pre>
            </section>

            <section>
                <h4>Or this from Identity?</h4>
                <pre><code class="lang-csharp">// POST: /Account/Register
[HttpPost]
[AllowAnonymous]
[ValidateAntiForgeryToken]
public async Task&lt;ActionResult&gt; Register(RegisterViewModel model)
{
  if (ModelState.IsValid)
  {
    var user = new ApplicationUser { UserName = model.Email, Email = model.Email };
    var result = await UserManager.CreateAsync(user, model.Password);
    if (result.Succeeded)
    {
      await SignInManager.SignInAsync(user, isPersistent:false, rememberBrowser:false);
      return RedirectToAction("Index", "Home");
    }
    AddErrors(result);
  }

  // If we got this far, something failed, redisplay form
  return View(model);
}</code></pre>
            </section>

            <section>
                <h4>Synchronicity</h4>
                <ul>
                    <li>A synchronous operation does its work <strong>before</strong> returning to the caller.</li>
                    <li>An asynchronous operation does (most or all of) its work <strong>after</strong> returning to the caller.</li>
                    <li>Asynchronous methods typically return quickly (or immediately) to the caller; hence they are also called <strong>nonblocking methods</strong>.</li>
                </ul>
                <p>Source: C# 6.0 in a Nutshell, Ch. 14</p>
            </section>

            <section>
                <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/albahari_590.png"><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/albahari_590.png" alt="What is Asynchronous Programming (from Albahari and Albahari, p. 590)" , title="C# 6.0 in a Nutshell, by J. Albahari &amp; B. Albahari, O'Reilly, 2016"></a>
            </section>
            <section>
                <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/albahari_591.png"><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/albahari_591.png" alt="What is Asynchronous Programming (from Albahari and Albahari, p. 591)" , title="C# 6.0 in a Nutshell, by J. Albahari &amp; B. Albahari, O'Reilly, 2016"></a>
            </section>

            <section>
                <h4>Task-based Asynchronous Pattern (TAP)</h4>
                <ul>
                    <li>.NET Framework 4.5 and later (C# 5.0 and later)</li>
                    <li>Preferred way to do asynchronous programming</li>
                    <li>Not manual multi-threading</li>
                    <li><code>async</code> and <code>await</code> keywords</li>
                    <li>Use for both I/O-bound and CPU-bound code, in event driven architectures</li>
                    <li>Implements the <a href="https://en.wikipedia.org/wiki/Futures_and_promises">Futures and Promises</a> pattern of parallel programming</li>
                </ul>
            </section>

            <section>
                <h4>Analyze this:</h4>
                <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async-example.png"><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async-example.png" alt="Example of controller action method using asynchronous calls"></a>
            </section>

            <section>
                <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async-example.svg"><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async-example.svg" alt="Example of controller action method using asynchronous calls"></a>
            </section>

            <section>
                <h4>Recommendations</h4>
                <a href="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async_recommendations.png"><img src="http://www.wou.edu/~morses/classes/cs46x/presentations/images/t2/async_recommendations.png" alt=""></a>
                <p>No, I didn't make this up.  It's from <a href="https://docs.microsoft.com/en-us/dotnet/csharp/async">Asynchronous programming [in .NET]</a> </p>
            </section>

            <section>
                <h3>Javascript?</h3>
                <blockquote>"Javascript is a single-threaded non-blocking asynchronous concurrent language"</blockquote>
                <p><small><a href="https://www.youtube.com/watch?time_continue=3&v=8aGhZQkoFbQ">Philip Roberts: What the heck is the event loop anyway? JSConf EU 2014</a><br> <a href="http://latentflip.com/loupe">Loupe</a></small></p>
            </section>
            <section>
                <h4>Node.js Hello World!</h4>
                <pre><code class="lang-js">//https://nodejs.org/en/docs/guides/getting-started-guide/
const http = require('http');

const hostname = '127.0.0.1';
const port = 3000;

const server = http.createServer((req, res) =&gt; {
  res.statusCode = 200;
  res.setHeader('Content-Type', 'text/plain');
  res.end('Hello World\n');
});

server.listen(port, hostname, () =&gt; {
  console.log(`Server running at http://${hostname}:${port}/`);
});
						    </code></pre>
                <p><small><a href="https://nodejs.org/docs/latest-v7.x/api/http.html#http_http_createserver_requestlistener">http.createServer( )</a>, <a href="https://nodejs.org/docs/latest-v7.x/api/http.html#http_server_listen_port_hostname_backlog_callback">http.server.listen( )</a></small></p>
            </section>
            <section>
                <h4>Express.js Hello World!</h4>
                <pre><code class="lang-js">//https://expressjs.com/en/starter/hello-world.html
const express = require('express')
const app = express()

app.get('/', (req, res) =&gt; res.send('Hello World!'))

app.listen(3000, () =&gt; console.log('Example app listening on port 3000!'))</code></pre>
            </section>
        </section>
    </div>
</div>